table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td,
th {
  width: 10%;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 10px;
}

.mat-cell {
  font-size: 14px;
  /*text-align: center;
  border-left: 0.5px solid rgba(0, 0, 0, 0.12);
  border-right: 0.5px solid rgba(0, 0, 0, 0.12);*/
}

.mat-header-cell {
  font-size: 15px;
  font-weight: bold;  
}

.mat-row:nth-child(even) {
  background-color: white;
}

.mat-row:nth-child(odd) {
  background-color: whitesmoke;
}
